<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a [routerLink]="['/home']">DatingApp</a>
      </li>
      <li *ngIf="loggedIn()">
        <a [routerLink]="['/members']" routerLinkActive="active">Matches</a>
      </li>
      <li *ngIf="loggedIn()">
        <a [routerLink]="['/lists']" routerLinkActive="active">Lists</a>
      </li>
      <li *ngIf="loggedIn()">
        <a [routerLink]="['/messages']" routerLinkActive="active">Messages</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <div *ngIf="loggedIn()" class="dropdownbtn" style="float:right;">
      <button class="dropbtn">Welcome {{authService.decodedToken?.unique_name | titlecase}}</button>
      <div class="dropdown-content">
        <a [routerLink]="['/member/edit']" routerLinkActive="active">Edit profile</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()">
      <ul class="menu">
        <li>
          <input type="text" placeholder="Username" required name="userName" [(ngModel)]="model.userName">
        </li>
        <li>
          <input type="password" placeholder="Password" required name="password" [(ngModel)]="model.password">
        </li>
        <li>
          <button type="submit" [disabled]="!loginForm.valid" class="button">Login</button>
        </li>
      </ul>
    </form>
  </div>
</div>